<div class="lufax-footer simple-foot clearfix">
    <div class="footer clearfix">
        <p class="phoneNum">
            全国服务热线
            <span class="num">4008 6666 18</span>
        </p>
        <p class="copyright">
            版权所有 © 上海陆家嘴国际金融资产交易市场股份有限公司未经许可不得复制、转载或摘编，违者必究!
            <br>
            Copyright Shanghai Lujiazui International Financial Asset Exchange Co.,LTD. ALL Rights Reserved
            <br>
            沪 ICP 证 B2-20120023号   沪 ICP 备 12032241 号-7
        </p>
    </div>
</div>