<script type="text/javascript" src="https://static.lufaxcdn.com/lufax-public/jquery/8f65de33.jquery.min.js"></script>
<script type="text/javascript" src="https://static.lufaxcdn.com/lufax-public/lufax-lib/73f55893.lufax-lib.min.js"></script>
<script type="text/javascript" src="https://static.lufaxcdn.com/lufax-public/lufax-public/18dbc441.lufax-public.min.js"></script>