<div class="lufax-navigator">
    <ul class="main-nav clearfix">
        <li class="nav-home"><a href="http://www.lufax.com"  data-sk="一级导航-首页">首页</a></li>
        <li class="nav-invest has-sub-nav">
            <a href="https://list.lufax.com/list/touzi"  data-sk="一级导航-投资频道">投资频道 <span>(<em id="nav-touzipindao"></em>)</span> <i class="nav-arrow transition"></i></a>
            <ul class="sub-nav-list">
                <li><a href="https://list.lufax.com/list/piaoju" data-sk="二级导航-稳盈-安盈"><b></b>安盈-票据<strong>200元起</strong> <span>(<em id="nav-piaoju"></em>)</span></a></li>
                <li><a href="https://list.lufax.com/list/anyi" data-sk="二级导航-稳盈-安e"><b></b>稳盈-安e<strong>1万元起</strong> <span>(<em id="nav-anyi"></em>)</span></a></li>
                <li><a href="https://list.lufax.com/list/anye" data-sk="二级导航-稳盈-安业"><b></b>稳盈-安业<strong>25万元起</strong> <span>(<em id="nav-anye"></em>)</span></a></li>
            </ul>
        </li>
        <li class="nav-licai has-sub-nav">
            <i class="icon-top-foot icon-hot-item"></i>
            <a href="https://list.lufax.com/list/licai"  data-sk="一级导航-理财频道">理财频道 <span>(<em id="nav-allLicai"></em>)</span> <i class="nav-arrow transition"></i></a>
            <ul class="sub-nav-list">
                <li><a href="https://list.lufax.com/list/fuying" data-sk="二级导航-富盈人生"><b></b>富盈人生<strong>1000元起</strong> <span>(<em id="nav-fuying"></em>)</span></a></li>
                <li><a href="https://list.lufax.com/list/zhuanxiang" data-sk="二级导航-专享理财"><b></b>专享理财<strong>2万元起</strong> <span>(<em id="nav-zhuanxinglicai"></em>)</span></a></li>
                <li><a href="https://list.lufax.com/list/zhujiang" data-sk="二级导航-珠江"><b></b>珠江人寿<strong>100元起</strong><span>(<em id="nav-zhujiang"></em>)</span></a></li>
            </ul>
        </li>
        <li class="nav-xinke">
            <i class="icon-top-foot icon-fanxian">&nbsp;</i>
            <a href="https://list.lufax.com/list/listing/xinke"  data-sk="一级导航-新客专区">新客专区 <span>(<em id="nav-newUser"></em>)</span></a>
        </li>
        <li class="nav-transfer"><a href="https://list.lufax.com/list/transfer" data-sk="一级导航-转让专区">转让专区 <span>(<em id="nav-transfer"></em>)</span></a></li>
        <li class="nav-loan-channel has-sub-nav">
            <a href="https://loan.lufax.com" data-sk="一级导航-借款频道">借款频道</a>
        </li>
    </ul>
</div>