.modal-body {
    height: 140px;
    padding: 15px 40px;
}

.active-input .message{
    margin-bottom: 10px;
    width: auto;
    font-size: 12px;
}
.active-input .input-wrap .input{
    width: 300px;
    height: 28px;
    line-height: 28px;
}
.active-input .btns{
    margin-left: 10px;
}
.active-input .form-horizontal .warning-icon{
    vertical-align: middle;
    margin-left: 5px;
}
.active-input .fail-reason{
    color: #e6551d;
    margin-top: 5px;
    height: 35px;
}

.activated .message{
    width: auto;
}

.prompting_com .head .iconV2{
    float: left;
    margin-top: 2px;
}
.prompting_com .operationTitle{
    color: #333;
    font-weight: normal;
}
.prompting_com .content{
    color: #999;
}

.active-code{
    color: #999;
    margin: 0 5px;
}

.table-rules{
    margin: 20px 0 0 20px;
}
.table-rules td{
    padding-bottom: 10px;
}
.table-rules .table-name{
    text-align: right;
    vertical-align: top;
}
.table-rules .table-value{
    color: #999;
    padding-left: 20px;
}

.LC-limited{
    margin-top: 10px;
    margin-bottom: -5px;
    background-color: #f3f3f3;
    padding: 8px 20px;
}